<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog Site</h1>
        </a>
        <p>Check the blogs</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New Blog</a></li>
    </ul>
</nav>