<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <% console.log('Hello world') %>
    <% const name='mario'; %>
    
    <%- include('./partials/nav.ejs') %>

    <p><%= name %> </p>

    <h1>Hello About page, welcome to the world</h1>

    <%- include('./partials/footer.ejs')%>
</body>
</html>